@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,300&display=swap');
:root{
    --primary-color: #FCD34D;
}
header{
    background-color: var(--primary-color);
}
.banana-header{
    
    margin : 0rem;
    padding:1rem;
 
}
textarea{
    width: 80%;
    height:10vh;
    display: block;
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid black;
    
}



#output{
    width: 80%;
    height:10vh;
    display: block;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid black;
}

body{
    margin: 0px;
    font-family: 'Comic Neue', cursive;
    /*margin:0px 2rem;*/
}

.banana-body{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;  
}
 
.banana-footer{
    background-color: var(--primary-color);
    padding : 2rem;
    font-size: large;
    font-weight: bold;
    
}

.banana-text{
    font-weight: bold;
    padding: 5px;
    margin-bottom: 1rem;
}


.button-translate{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    
}

.button-style{
    padding: 15px 30px;
    background-color: var(--primary-color);
    border: none;
    font-weight: bold;
    font-family: 'Comic Neue', cursive;
}